apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: jetstack
  namespace: foundations
spec:
  interval: 1h
  url: https://charts.jetstack.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: foundations
spec:
  interval: 5m
  serviceAccountName: foundations-admin
  chart:
    spec:
      chart: cert-manager
      version: "1.15.1"
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: foundations
  values:
    crds:
      enabled: true
    webhook:
      hostNetwork: true
      securePort: 10260
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
