---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: foundations
spec:
  releaseName: longhorn
  serviceAccountName: flux-admin
  chart:
    spec:
      chart: longhorn
      version: "1.6.1"
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: foundations
  interval: 1h0m0s
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    persistence:
      defaultClass: true

---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: longhorn
  namespace: foundations
spec:
  interval: 1h0m0s
  url: https://charts.longhorn.io
